.login {
    display: flex;
    flex-direction:column;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.content-start {
    display: flex;
    justify-content: flex-start;
    flex-direction:column;
}

.content-centered {
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}


nav.sidebar-menu{
  width: 5px;
 transition: width 1s;
    overflow: hidden;
}

nav.sidebar-menu:hover {
  width: 150px;
}

.hidden {
    opacity: 0;
}


nav.sidebar {
  position: fixed;
  top: 64px;
  left: 0px;
  height: 100%;
  background: none repeat scroll 0 0 #0099ff;
  color: white;
  padding: 20px 10px;
}


nav.sidebar button {
    overflow: hidden;
    margin-bottom: 50px;
}


/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

btn-md {
  font-size: 16px;
  line-height: 1;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  SHARP BUTTONS
************************/
.sharp {
  border-radius:0;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 4px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: black;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}


/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    padding-bottom: 5px;
}
.btn-primary.outline {
    border: 2px solid white;
    color: white;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}


@import "http://fonts.googleapis.com/css?family=Montserrat:300,400,700";
.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 1820px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 1820px) {
  .rwd-table th, .rwd-table td {
    display: inline-block;
    padding: .25em .5em;
    width: 300px;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

body {
  background: #eee;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
    margin: 0;
}

.rwd-table {
  background: #ddd;
  color: black;
  border-radius: .4em;
  overflow: hidden;
    animation: slideleft 2s; 
    
}

@keyframes slideleft {
    from {margin-left: 1000px;}
    to {margin-left: 0px;}    
}

.rwd-table tr {
  border-color: #46627f;
}

.rwd-table tr:hover {
  background-color: aliceblue;
cursor: pointer;
}

.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 680px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: black;
}

.page-content {
    
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.flex-row {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}


.flex-column {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}