
#contract_card_page_content{

   background-color: #eeeeee;
    }
    

.min-width-450 {
    min-width:442px;
}



ng-md-icon {
    &.hover {
        fill:#666666;
        cursor:default;
    }
    fill:#666666;
    cursor:default;
}

md-input-container.md-icon-float>md-icon+input {
        margin-left: 24px;
}

input[type=date] {
    width:  130px;   
}

md-input-container.iconed {
    md-icon {
        width:16px;
        height:16px;
        top:29px;
        fill: #666666;
        &:hover {
            cursor:pointer;
             fill:#89e0ff;
        }
    }
}

md-input-container {
    margin-top: -8px!important;
}
md-input-container.iconed.md-input-focused label,
 md-input-container.iconed.md-input-has-value label:not(.md-no-float) {
 
    transform: translate3d(-18px,6px,0) scale(.75)!important;
    -webkit-transform: translate3d(-18px,6px,0) scale(.75)!important;
    
}


h4 {
    font-size: 16px;
    border-bottom:1px solid #e0f2f1;
    height:40px;
    line-height:30px;
}

label {
    font-size: 12px;
}

input {
    font-size: 14px;
}

.min-width-900 {
    min-width:919px;
}

.min-width-800 {
    min-width:800px;
}
 
.min-width-400 {
    min-width:400px;
}
   
.min-width-300 {
    min-width:300px;
}

.min-width-600 {
    min-width:600px;
}

span.header {
    margin-left:16px;
    margin-top:16px;
}

.padded-area {
    padding: 10px 16px 10px 16px!important;
}

.group-element {
    background-color: white;          
    margin: 10px 24px 24px 0;
    border-radius: 5px;
    label {
        white-space:nowrap;
    }
    .external_lable{
        font-size:12px;
        color:#3f51b5;
        margin-top:10px;
    }
    md-checkbox {
        top:12px;
    }
    md-input-container.md-icon-float>label  {
        margin-left:18px;
    }
}

.row-content {
    margin:0!important;
}

@media (min-width: 500px) {
    .group-element {
        min-width: 300px;
        height:auto;
    }
}

@media (min-width: 1300px) {
    .group-element {
        min-width: 300px;
        height:340px;
    }
}


   