<div ng-controller="addNewController" style="margin-top:10px" class='page-content'>
    <h1>Добавить проект</h1>
    <div class='flex-column'>
        <div class='flex-row'>
            <md-input-container flex>
              <label>Тип договора</label>
              <input ng-model="user.firstName">
            </md-input-container>
            <md-input-container flex>
              <label>Класс договора</label>
              <input ng-model="user.firstName">
            </md-input-container>            
        </div>
        <div class='flex-row'>
            <md-input-container flex>
              <label>Дата заключения</label>
              <input ng-model="user.firstName">
            </md-input-container>
            <md-input-container flex>
              <label>Номер заказчика</label>
              <input ng-model="user.firstName">
            </md-input-container>            
        </div>        
        <div class='flex-row'>
            <md-input-container flex>
              <label>Номер исполнителя</label>
              <input ng-model="user.firstName">
            </md-input-container>
            <md-input-container flex>
              <label>Исполнитель</label>
              <input ng-model="user.firstName">
            </md-input-container>            
        </div>
        <div class='flex-row'>
            <md-input-container flex>
              <label>Вид работ</label>
              <input ng-model="user.firstName">
            </md-input-container>
            <md-input-container flex>
              <label>Название</label>
              <input ng-model="user.firstName">
            </md-input-container>            
        </div>        
    </div>
</div>