

<div ng-controller="projectsController" style="margin-top:10px" class='page-content'>


    <md-data-table
                   table-card="{visible: true, title: 'Все', actionIcons:true}"
    sortable-columns="true"
    selectable-rows="true"
                   alternate-headers="'contextual'"
                    delete-row-callback="deleteRowCallback(rows)">
    <md-data-table-header-row>

        <!-- in case of sortable columns, we can set the defaultly sortable column -->
        <md-data-table-column sortable-rows-default ng-repeat="header in headers">
            {{header}}
        </md-data-table-column>
    </md-data-table-header-row>

    <md-data-table-row ng-repeat="row in rows">
        <md-data-table-cell  data-title="{{property.key}}"  ng-repeat= "property in row">{{ property.value}}</md-data-table-cell>
    </md-data-table-row>

</md-data-table>
    
</div>

