  

<md-data-table-toolbar ng-hide="isFinanceEditing || filter.show" class="flex layout-row justify-between">
    <md-select name="dogovorPlan" ng-model="finTableTitle">
        <md-option value="dogovorPlan">Ежегодные затраты по статьям (План по договору)</md-option>
    </md-select>
    <div>
        <ng-md-icon icon="edit" ng-click="toggleFinanceEdit()" size="30px"></ng-md-icon>
        <ng-md-icon icon="file_download" size="30px"></ng-md-icon>
    </div>
</md-data-table-toolbar>

    <md-data-table-toolbar class="alternate flex layout-row align-center justify-between" ng-show="isFinanceEditing">
        <md-select name="dogovorPlan" ng-model="finTableTitle">
            <md-option value="dogovorPlan">Ежегодные затраты по статьям (План по договору)</md-option>
        </md-select>
        <div class="flex layout-row align-center justify-end">
            <md-button class="md-icon-button" style="padding-top:5px;">
                <ng-md-icon icon="check" size="30px" ng-click="toggleFinanceEdit()"></ng-md-icon>
            </md-button>
            <h4 style="border-bottom:none; margin-top:0; margin-bottom:0;line-height:37px">СОХРАНИТЬ</h4>
        </div>
</md-data-table-toolbar>

    <md-data-table-container>
        <table md-data-table  md-progress="deferred">
            <thead>
                <tr class="flex layout-row">
                    <th style="flex: 1; min-width:300px;max-width:350px;" name="Статьи затрат"></th>
                    <th style="flex: 1; max-width:250px;" name="Всего (руб.)"></th>
                    <th ng-repeat="header in data.dogovorFinanceStructure.headers"
                        style="flex: 1; max-width:250px;"
                        name="{{header.name}}"></th>
                </tr>
            </thead>
            <tbody>

                <tr class="flex layout-row" ng-repeat="(name,row) in data.dogovorFinanceStructure.rows">
                    <td style="flex: 1; min-width:300px;max-width:350px;" name="Статьи затрат"><span>{{ row.name}}</span></td>
                    <td style="flex: 1; max-width:250px;" name="Всего (руб.)">
                        <input class="pure-text" ng-keyup="data.dogovorFinanceStructure.reCalculateFinanceStructure($event)"
                               ng-model="row.OverallSum" value="{{ row.OverallSum | number}}" />
                    </td>
                    <td ng-repeat="year in row.years" class="flex layout-row align-center" style="flex: 1; max-width:250px;" name="year.name">
                        <input class="editable" ng-class="{'pure-text' : !isFinanceEditing}" ng-keyup="data.dogovorFinanceStructure.reCalculateFinanceStructure($event)"
                               ng-model="year.value" value="{{ year.value | number}}" />
                    </td>
                </tr>

            </tbody>
        </table>
    </md-data-table-container>
