<div class='toolbar'  ng-cloak>
    <md-content style="overflow:hidden">
        <md-toolbar>
            
            <div class="md-toolbar-tools">
                <ng-md-icon icon="arrow_back" ng-click="onProjectTypeChange()" style="margin-right:15px; margin-top:5px; fill:white" size="30px"></ng-md-icon>
                
                    {{toolBarHeader}}
               
                <span flex></span>
                <div>
                    <ng-md-icon icon="edit" size="30px"></ng-md-icon>
                    <ng-md-icon icon="file_download" size="30px"></ng-md-icon>
                    <ng-md-icon icon="search" size="30px"></ng-md-icon>
                </div>

            </div>
            <ul class="nav nav-tabs" role="tablist">
               <li ng-class="{'active' : isCardActive}">
                   <a href ng-click="goToCard()" role="tab" data-toggle="tab">
                       <span>ОБЩИЕ СВЕДЕНИЯ</span>
                   </a>
               </li>
                <li ng-class="{'active' : isFinanceActive}">
                    <a href ng-click ="goToFinance()" role="tab" data-toggle="tab" >
                        <span>ФИНАНСИРОВАНИЕ</span>
                    </a>
                </li>
               <li>
                   <a>
                       <span>ДОКУМЕНТАЦИЯ</span>
                   </a>
               </li>
                <li>
                    <a>
                        <span>КАЛЕНДАРНЫЙ ПЛАН</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span>ПРОБЛЕМЫ</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span>СОБЫТИЯ</span>
                    </a>
                </li>
           </ul>
        </md-toolbar>
    </md-content>
</div>
<div class='toolbar second-level' ng-class="{'hidden': !isFinanceActive}" ng-cloak>
    <md-content style="overflow:hidden">
        <md-toolbar>
            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a role="tab" data-toggle="tab">
                        <div>СТРУКТУРА ЦЕНЫ ДОГОВОРА</div>
                    </a>
                </li>
                <li>
                    <a>
                        <div>СТРУКТУРА ЦЕНЫ ЭТАПОВ</div>
                    </a>
                </li>
                <li>
                    <a>
                        <div>ГРАФИК ПОСТУПЛЕНИЙ</div>
                    </a>
                </li>
                <li>
                    <a>
                        <div>ГРАФИК ПЛАТЕЖЕЙ</div>
                    </a>
                </li>
            </ul>
        </md-toolbar>
    </md-content>
</div>